{% if page.exhibition %}
{% assign exhibition=site.data.[page.exhibition] %}
<div class="columns is-multiline">
    <div class="column is-12">
        <p class="title is-4">
            <span>{{ exhibition.venue.title }}</span>
        </p>
        <p>
            <img src="{{ site.baseurl }}/img/{{ exhibition.venue.map }}" />
        </p>
        <div class="subtitle is-7">
            {% for exhibitor in exhibition.exhibitors %}
            <a href="#{{exhibitor.booth}}">
                <span>( {{ exhibitor.booth }} ) {{ exhibitor.name }}</span>
            </a>
            <br />
            {% endfor %}
        </div>
        {% for exhibitor in exhibition.exhibitors %}
        <div class="box has-text-left">
            <div class="columns is-multiline">
                {% if exhibitor.logo %}
                    <div class="column is-3">
                        <p class="image is-200x52">
                            <a href="{{ exhibitor.profile }}">
                                <img src="{{ site.baseurl }}/img/{{ exhibitor.logo }}" />
                            </a>
                        </p>
                    </div>
                {% endif %}
                <div class="column is-6" id="{{ exhibitor.booth }}">
                    <div><strong>{{ exhibitor.name }}</strong></div>
                </div>
            </div>
            <div class="content">
                {{ exhibitor.abstract | markdownify }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}